#eere_header
{
    visibility: hidden;
    display: none;
}

#program_header_subsite_nonav
{
    visibility: hidden;
    display: none;
}

#utility_line
{
    visibility: hidden;
    display: none;
}

.grid_1
{
    visibility: hidden;
    display: none;
}

#footer
{
    visibility: hidden;
    display: none;
}
